{% extends 'admin/base.html.twig' %}

{% block title %} لوحه القياده{% endblock %}

{% block body %}
    <div class="container" dir="rtl">
    <h1 class="my-4">المستجدات  </h1>
         {{ form_start(form) }}
    <div class="row">
        <div class="alert alert-light">
            <div class="col">
            {{ form_row(form.title) }}
            
            {{ form_row(form.description) }}
            {{ form_row(form.imaggeFile) }}
            {{ form_row(form._token) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary"> إضافة </button>
        {{ form_end(form,{'render_rest': false})}}
    </div>
   
    </div>
{% endblock %}